<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="output_log" xsi:type="File" fileName="output.log" />
    <target name="error_log" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="error.log" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="output_log" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="error_log" />
  </rules>
</nlog>